{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "displayName": true
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"],
      "plugins": [
        [
          "styled-components",
          {
            "displayName": true
          }
        ],
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
